p {
    text-align: center;
    font-size: 20px;
    color: #040D12;
}

#titulo {
    font-size: 30px;
    text-align: center;
    color: #183D3D;
}

.texto {
    text-align: justify;
    font-size: 20px;
    color: #040D12;
}

body {
    background-color: #93B1A6;
    color: #040D12;
}

.secao{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    width: 400px;
}