p {
    text-align: center;
    font-size: 20px;
    color: #040D12;
}

#titulo {
    font-size: 30px;
    text-align: center;
    color: #183D3D;
}

.texto {
    text-align: justify;
    font-size: 20px;
    color: #040D12;
}

body {
    background-color: #93B1A6;
    color: #040D12;
}